*, *:after, *:before {
	padding: 0;
	margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	min-width: 960px;
	background-color: #ffffff;
	font-family: "Lato","Helvetica Neue",Helvetica, sans-serif;
}

.topheader {
	height: 150px;

    background-color: #1bbef0;
}

nav {

	float: right; 
	width: 100%;
}

nav>ul {
	list-style: none;
	float: right;
}
nav>ul>li {
	
	float: left;
	margin-right: 10px;
}

nav>ul>li>a:link {
	color:black;
	text-decoration: none;
}


nav>ul>li>a:visited {
	color:black;
	text-decoration: none;
}

nav>ul>li>a:hover {
	color:red;
}

nav>ul>li>a.active {
	color:white;
}

.container {
	margin: 0 auto;
	max-width: 1140px;
	width: 100%;
	padding-bottom: 200px;
	
}
.container:after {
  content: "";
  display: table;
  clear: both;
}

.container-pad {
  padding: 20px 0 20px 20px;
}

.sidebar {
	 width: 20%;
	float: left;
	background-color: #f7f5fa;
	margin-right: 5%;
	box-shadow: 5px 5px 5px #888888;
}

.sidebar fieldset {
	border: none;
	margin-bottom: 5px;
}



.sidebar .login_form input[type="text"], .sidebar .login_form input[type="password"]{
    border: 1px solid #DADADA;
    color: black;
    height: 30px;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px;
    width: 90%;
    font-family: Georgia;
    font-size: 1em;
}
.sidebar .login_form input[type="submit"] {
	font-size: 1em;
	background: #E48F8F;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    margin-left: 5%;
    width: 90%;
    font-family: Georgia;
}

#found-psw {
	text-align: center;
	font-size: 15px;
}
#found-psw>a:link {
	text-decoration: none;
}
#found-psw>a:visited {
	text-decoration: none;
}

b, u, i {
	display: block;
	height: 1px;
	overflow: hidden;
}


.msg-success {
	width: 40%;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	background-color: rgba(86, 213, 60, 0.29);
	border:3px solid #5ae13e;
	border-radius:25px;
	-moz-border-radius:25px; 

}

.msg-error {
	width: 40%;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	background-color: rgba(236, 133, 140, 0.72);
	border:3px solid #ba646c;
	border-radius:25px;
	-moz-border-radius:25px;
}
.msg-error > img {
	vertical-align:middle;
}


#user-info {
	margin-bottom: 10px;
}

#user-info>li {
	list-style: none;
	color: #716b7a;
}
#user-info>li>p {
	text-align: center;
}

#side_name {
	font-size: 30px;
}

#user-info > p{
	text-align: center;
	line-height: 50px;
	background: #3498DB;
	color: white;
	font-size: 20px;
}


#user-service >p{
	line-height: 50px;
	text-align: center;
	background: #3498DB;
	color: white;
	font-size: 20px;

}
#user-service >li {
	display: block;
	list-style: none;
	border-bottom: 1px solid #d0d0d0;
    padding: .75em 0;
    line-height: 15px; 
}
#user-service >li>a:link {
	text-decoration: none;
	color: #716b7a;
}
#user-service >li>a:visited {
	text-decoration: none;
	color: #716b7a;
}

#user-service >li>a:hover {
	color: black;
}

#user-service >li:hover {
	background-color: white;
}

.content {
	padding-right: 0;
	width: 75%;
	float: left;
}

.full-page {
	padding: 10px;
	width: 100%;
	float: left;
}

.full-page .login_form {
	width: 60%;
	padding: 10px;
	margin: 10px auto;
	background-color: #f7f5fa;
	text-align: center;
	box-shadow: 10px 10px 5px #888888;
}
.full-page .login_form > h2 {
	margin: 20px;
}
.full-page .login_form label {
	display: inline-block;
	width: 20%;
	text-align: right;
}

.full-page .login_form input[type="text"], .full-page .login_form input[type="password"]{
    border: 1px solid #DADADA;
    color: black;
    height: 30px;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px;
    max-width: 70%;
    min-width: 40%;
    font-family: Georgia;
    font-size: 1em;
}
.full-page .login_form input[type="submit"] {
	font-size: 1em;
	background: #E48F8F;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    margin-left: 5%;
    max-width: 70%;
    min-width: 40%;
    font-family: Georgia;
    margin-bottom: 5%; 
}

.full-page .register_form {
	width: 60%;
	margin: 10px auto;
	padding: 10px;
	background-color: #f7f5fa;
	text-align: center;
	box-shadow: 10px 10px 5px #888888;
}

.full-page .register_form > h2 {
	margin: 20px;
}

.full-page .register_form input[type="text"], .full-page .register_form input[type="password"],
.full-page .register_form input[type="email"] {
    border: 1px solid #DADADA;
    color: black;
    height: 30px;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px;
    max-width: 70%;
    min-width: 40%;
    font-family: Georgia;
    font-size: 1em;
}

.full-page .register_form label {
	display: inline-block;
	width: 20%;
	text-align: right;
	
}

.full-page .register_form input[type="submit"] {
	font-size: 1em;
	background: #E48F8F;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    margin-left: 5%;
    max-width: 50%;
    min-width: 30%;
    font-family: Georgia;
    margin-bottom: 5%; 
}
.full-page .register_form .button:hover {
	background: #CF7A7A
}

.full-page .login_form .button:hover {
	background: #CF7A7A
}

.full-page fieldset {
	border: none;
	margin-bottom: 5px;
}

#view_account {
	width: 100%;
	margin: auto;
	padding: 10px;
	background-color: #f7f5fa;
	text-align: center;
	box-shadow: 10px 10px 5px #888888;
}
#view_account input[type="text"], #view_account input[type="password"],
#view_account input[type="email"] {
    border: 1px solid #DADADA;
    color: black;
    height: 30px;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px;
    max-width: 70%;
    min-width: 40%;
    font-family: Georgia;
    font-size: 1em;
}
#view_account input[type="text"]:disabled {
	background-color: #cfcfcf;
}
#view_account label {
	display: inline-block;
	width: 20%;
	text-align: right;
	
}

#view_account input[type="submit"] {
	font-size: 1em;
	background: #E48F8F;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    margin-left: 5%;
    max-width: 50%;
    min-width: 30%;
    font-family: Georgia;
    margin-bottom: 5%; 
}
#view_account > h2 {
	margin: 20px;
}
#view_account .button:hover {
	background: #CF7A7A;
}
#change_password {
	border-style: dashed;
	border-width: 2px;
	border-color: #bac2c4;
}
#change_password >p {
	color: red;
	margin-bottom: 5px;
}
#change_password >p >strong {
	color: black;

}

.view-task ,.task-update ,.task-create{
	width: 100%;
	margin: auto;
	padding: 10px;
	background-color: #f7f5fa;
	box-shadow: 10px 10px 5px #888888;
}

.view-task th, .view-task td   {
	text-align: center;
}
#task-option {
	margin-bottom: 3%;
}
#task-option .button {
	background: #E48F8F;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    font-size: 1em;
}
#task-option .button:hover {
	background: #CF7A7A;
}

.footer {
	color: white;
	background-color: #211a2c;
	position:absolute;
	height: 80px;
	margin-top: 75px;
	padding-top: 20px;
	width: 100%;
	clear: both;
}


.task-update .task-form {
	width: 60%;
	padding: 10px;
	margin: 10px auto;
	background-color: #f7f5fa;
	text-align: center;
}
.task-update .task-form > h2 {
	margin: 20px;
}
.task-update .task-form label {
	display: inline-block;
	width: 13%;
	text-align: center;
	vertical-align: middle;
}
#description {
	display: inline-block;
	width: 13%;
	text-align: center;
	vertical-align: middle;
	padding-bottom: 20%;
}

.task-update .task-form input[type="text"] {
    border: 1px solid #DADADA;
    color: black;
    height: 30px;
    width: 50%;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px;
    max-width: 90%;
    min-width: 40%;
    font-family: Georgia;
    font-size: 1em;
}
.task-update .task-form input[type="submit"] {
	font-size: 1em;
	background: #E48F8F;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    margin-left: 5%;
    max-width: 70%;
    min-width: 40%;
    font-family: Georgia;
    margin-bottom: 5%; 
}
.task-update .task-form textarea {
	display: inline-block;
    border: 1px solid #DADADA;
    color: black;
    width: 50%;
    margin-left: 5%;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px;
    max-width: 90%;
    min-width: 40%;
    font-family: Georgia;
    font-size: 1em;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 250px;
  height: 20px;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);
	-webkit-animation: animate-stripes 5s linear infinite;
    animation: animate-stripes 5s linear infinite;
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
@-webkit-keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

progress[value]::-webkit-progress-value::before {
  content: '80%';
  position: absolute;
  right: 0;
  top: -125%;
}
progress[value]::-webkit-progress-value::after {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 100%;
  right: 7px;
  top: 7px;
  background-color: white;
}